*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-item a{
    text-decoration: none;
    color: rgb(214, 127, 127);
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
}

.nav-item a :hover{
    color: #517a4d;
}

.navbar-brand{
    height: 50px;
    width: 100px;
}

.search{
    height: 45px;
    outline: none;
    border: 2px solid rgb(231, 51, 51);
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
}

.btn1{
    height: 45px;
    outline: none;
    border: none;
    background-color: rgb(231, 51, 51);
    color: white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}

.btn1 :hover{
    background-color: rgb(79, 31, 31);
}

.bi-cup-hot{
    font-size: 30px;
    color: #517a4d;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;
}

.navbar-toggler{
    font-size: 30px;
    color: rgb(231, 51, 51);
}

.navbar-brand :focus{
    outline: none;
    box-shadow: none;
}

.banner-image{
    background-image: url(../multimedia/—Pngtree—hangzhou\ longwu\ longjing\ tea\ garden_1554509.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.banner-image h1{
    padding: 20px 15px;
    color: rgb(104, 44, 44);
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: center;
    font-size: 100px;
}

.about{
    margin-top: 250px;
    display: flex;
    margin-left: 0px;
}

#more {
    display: none;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 20%;
    margin: 0 auto;
    
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    -webkit-animation: floating 5s -1s infinite;
          animation: floating 5s -1s infinite;
}


.kartu-tutor p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
    margin-top: 420PX;
}

.carousel-contain{
    background-image: url(../multimedia/—Pngtree—old\ paper\ background\ color_1411230.png);
    background-size: cover;
    height: auto;
    margin-top: 200px;
}

#contact {
    background: #dcbaba;
    padding:50px 0px 50px 0px;
    margin-top: 100px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
    color: azure;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #d8e8a1;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

.banner-tea{
    background-image: url(https://st3.depositphotos.com/7864618/34746/i/450/depositphotos_347466392-stock-photo-vintage-paper-texture-grey-grunge.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    margin-top: 100px;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #ff7d7d;
    color: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: uppercase;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img,
.nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

.collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
}
